.root {
    -fx-grid-lines-visible: true;
}

#accorcontainer {

}

#map {

}

#mapcontainer {
    -fx-background-color: gray;

}

#rightpane {

}

#texture1 {
    -fx-graphic: url("MapEditor/cw1.jpg");
}

#texture2 {
    -fx-graphic: url("MapEditor/cw2.jpg");
}